<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome to CodeJava Home</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	 <div class="container text-center">
        <div>
            <h3>Login successful..... <a th:href="@{/}">click here...</a>to go to home</h3>
        </div>
        <div> 
    		<object type="text/html" data="https://www.durgasoftonline.com/" width="735px" height="320px" style="overflow:auto;border:5px ridge blue">
    		</object>
 		</div>
	 </div>   
	 
</body>
</html>